<a href="https://colab.research.google.com/github/Martinxmaina/Data-science/blob/main/Cricket_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')


file_path = '/content/drive/MyDrive/PoliticalDatasetCleaning.csv'  # Update the path if needed

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install pandas beautifulsoup4 requests

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.12.3)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2024.12.14)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [4]:
url = "https://www.espncricinfo.com/records/highest-career-batting-average-282910"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
# Find all tables on the page
all_tables = soup.find_all("table")

# Print the number of tables found
print(f"Found {len(all_tables)} tables on the page.")

# Iterate through each table and print its HTML
for i, table in enumerate(all_tables):
    print(f"\nTable {i + 1}:")
    print(table)

Found 1 tables on the page.

Table 1:

In [6]:
if table:
    # Get the header row
    header_row = table.find("thead").find("tr")
    header_cols = [col.text.strip() for col in header_row.find_all("td")]

    # Get data rows
    data_rows = table.find("tbody").find_all("tr")  # Assuming data is in tbody
    data = []
    for row in data_rows:
        cols = [col.text.strip() for col in row.find_all("td")]
        data.append(cols)

    # Create a pandas DataFrame
    df = pd.DataFrame(data, columns=header_cols)
    print(df)
else:
    print("Table not found with the specified class.")

               Player       Span  Mat Inns  NO  Runs    HS    Ave     BF  \
0    DG Bradman (AUS)  1928-1948   52   80  10  6996   334  99.94  9800+
1      AC Voges (AUS)  2015-2016   20   31   7  1485  269*  61.87   2667
2     RG Pollock (SA)  1963-1970   23   41   4  2256   274  60.97  1707+
3     GA Headley (WI)  1930-1954   22   40   4  2190  270*  60.83   416+
4   H Sutcliffe (ENG)  1924-1935   54   84   9  4555   194  60.73  6558+
..                ...        ...  ...  ...  ..   ...   ...    ...    ...
56   KD Walters (AUS)  1965-1981   74  125  14  5357   250  48.26  8662+
57  GC Smith (ICC/SA)  2002-2014  117  205  13  9265   277  48.25  15525
58  WH Ponsford (AUS)  1924-1934   29   48   4  2122   266  48.22  3118+
59    SJ McCabe (AUS)  1930-1938   39   62   5  2748   232  48.21  3217+
60   DR Jardine (ENG)  1928-1934   22   33   6  1296   127  48.00  2110+

       SR 100  50   0    4s  6s
0   58.60  29  13   7  626+   6
1   55.68   5   4   2   186   5
2   54.48   7  11   1  246+  11
3   56.00  10   5   2  104+   1
4   34.59  16  23   2  202+   6
..    ...  ..  ..  ..   ...  ..
56  49.16  15  33   4  525+  23
57  59.67  27  38  11  1165  24
58  44.77   7   6   1  119+   0
59  60.02   6  13   4  241+  5+
60  25.59   1  10   2   53+   0

[61 rows x 15 columns]

In [7]:
df.to_pickle('cricket_data.pkl')

In [8]:
df = pd.read_pickle('cricket_data.pkl')

In [62]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
57,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
58,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
59,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
60,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [9]:
df.isnull()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
57,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull

<bound method DataFrame.isnull of                Player       Span  Mat Inns  NO  Runs    HS    Ave     BF  \
0    DG Bradman (AUS)  1928-1948   52   80  10  6996   334  99.94  9800+
1      AC Voges (AUS)  2015-2016   20   31   7  1485  269*  61.87   2667
2     RG Pollock (SA)  1963-1970   23   41   4  2256   274  60.97  1707+
3     GA Headley (WI)  1930-1954   22   40   4  2190  270*  60.83   416+
4   H Sutcliffe (ENG)  1924-1935   54   84   9  4555   194  60.73  6558+
..                ...        ...  ...  ...  ..   ...   ...    ...    ...
56   KD Walters (AUS)  1965-1981   74  125  14  5357   250  48.26  8662+
57  GC Smith (ICC/SA)  2002-2014  117  205  13  9265   277  48.25  15525
58  WH Ponsford (AUS)  1924-1934   29   48   4  2122   266  48.22  3118+
59    SJ McCabe (AUS)  1930-1938   39   62   5  2748   232  48.21  3217+
60   DR Jardine (ENG)  1928-1934   22   33   6  1296   127  48.00  2110+

       SR 100  50   0    4s  6s
0   58.60  29  13   7  626+   6
1   55.68   5   4   2   186   5
2   54.48   7  11   1  246+  11
3   56.00  10   5   2  104+   1
4   34.59  16  23   2  202+   6
..    ...  ..  ..  ..   ...  ..
56  49.16  15  33   4  525+  23
57  59.67  27  38  11  1165  24
58  44.77   7   6   1  119+   0
59  60.02   6  13   4  241+  5+
60  25.59   1  10   2   53+   0

[61 rows x 15 columns]>

In [11]:
df= df.rename(columns={"Mat":"Matches", "NO": "Not_Outs", "HS":"Highest_Inns_Score","BF":"Balls_Face","SR":"Batting_Strike_Rate" })

In [12]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6

In [13]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Face             False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [14]:
df[df['Balls_Faced'].isna()==1]

KeyError: 'Balls_Faced'

In [15]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Length: 61, dtype: bool

In [16]:
df["Span"]

0     1928-1948
1     2015-2016
2     1963-1970
3     1930-1954
4     1924-1935
        ...
56    1965-1981
57    2002-2014
58    1924-1934
59    1930-1938
60    1928-1934
Name: Span, Length: 61, dtype: object

In [17]:
df["Span"].str.split(pat= "-")

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
4     [1924, 1935]
          ...
56    [1965, 1981]
57    [2002, 2014]
58    [1924, 1934]
59    [1930, 1938]
60    [1928, 1934]
Name: Span, Length: 61, dtype: object

In [18]:
df["Rookie_Year"]=df["Span"].str.split(pat= "-").str[0]

In [19]:
df["Rookie_Year"]

0     1928
1     2015
2     1963
3     1930
4     1924
      ...
56    1965
57    2002
58    1924
59    1930
60    1928
Name: Rookie_Year, Length: 61, dtype: object

In [20]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924

In [21]:
df["Final_Year"]=df["Span"].str.split(pat= "-").str[1]

In [22]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935

In [23]:
df=df.drop(["Span"], axis=1)

In [24]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935

In [25]:
df['Players']=df['Player'].str.split("(").str[0].str.split()

In [26]:
df['Players']

0      [DG, Bradman]
1        [AC, Voges]
2      [RG, Pollock]
3      [GA, Headley]
4     [H, Sutcliffe]
           ...
56     [KD, Walters]
57       [GC, Smith]
58    [WH, Ponsford]
59      [SJ, McCabe]
60     [DR, Jardine]
Name: Players, Length: 61, dtype: object

In [39]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Player,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,"[DG, Bradman]",AUS
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,"[AC, Voges]",AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,"[RG, Pollock]",SA
3,GA Headley (WI),22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,1930,1954,"[GA, Headley]",WI
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,"[H, Sutcliffe]",ENG

In [27]:
df['Country'] = df['Player'].str.split('(').str[1].str.strip(')')

In [28]:
df['Country']

0        AUS
1        AUS
2         SA
3         WI
4        ENG
       ...
56       AUS
57    ICC/SA
58       AUS
59       AUS
60       ENG
Name: Country, Length: 61, dtype: object

In [29]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,"[DG, Bradman]",AUS
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,"[AC, Voges]",AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,"[RG, Pollock]",SA
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,"[GA, Headley]",WI
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,"[H, Sutcliffe]",ENG

In [74]:
df.head()

,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Players
0,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,AUS,DG Bradman
1,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,AC Voges
2,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA,RG Pollock
3,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,WI,GA Headley
4,1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,ENG,H Sutcliffe

In [30]:
df.dtypes

Player                 object
Matches                object
Inns                   object
Not_Outs               object
Runs                   object
Highest_Inns_Score     object
Ave                    object
Balls_Face             object
Batting_Strike_Rate    object
100                    object
50                     object
0                      object
4s                     object
6s                     object
Rookie_Year            object
Final_Year             object
Players                object
Country                object
dtype: object

In [46]:
df=df.rename(columns={"Mat": "Matches", "NO":"Not_Outs", "HS":"Highest_Inns_Score", "BF": "Balls_Faced", "SR": "Battling_Strike_Rate", "Players[0]": "Player"})

In [47]:
df.dtypes

Players                object
Matches                object
Inns                   object
Not_Outs               object
Runs                   object
Highest_Inns_Score     object
Ave                    object
Balls_Face             object
Batting_Strike_Rate    object
100                    object
50                     object
0                      object
4s                     object
6s                     object
Rookie_Year            object
Final_Year             object
Players                object
Country                object
dtype: object

In [85]:
df.head()

,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Country,Player
0,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,AUS,DG Bradman
1,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,AC Voges
2,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA,RG Pollock
3,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,WI,GA Headley
4,1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,ENG,H Sutcliffe

In [33]:
df["Rookie_Year"]=df["Span"].str.split(pat= "-").str[0]

KeyError: 'Span'

In [92]:
df['Rookie_Year']

0     1928
1     2015
2     1963
3     1930
4     1924
      ...
56    1965
57    2002
58    1924
59    1930
60    1928
Name: Rookie_Year, Length: 61, dtype: object

In [93]:
df["Span"]

0     1928-1948
1     2015-2016
2     1963-1970
3     1930-1954
4     1924-1935
        ...
56    1965-1981
57    2002-2014
58    1924-1934
59    1930-1938
60    1928-1934
Name: Span, Length: 61, dtype: object

In [94]:
df["Final_Year"]=df["Span"].str.split(pat= "-").str[1]

In [96]:
df["Final_Year"]

0     1948
1     2016
2     1970
3     1954
4     1935
      ...
56    1981
57    2014
58    1934
59    1938
60    1934
Name: Final_Year, Length: 61, dtype: object

In [48]:
df=df.drop("Span", axis=1)

KeyError: "['Span'] not found in axis"

In [99]:
df.dtypes

Matches                 object
Inns                    object
Not_Outs                object
Runs                    object
Highest_Inns_Score      object
Ave                     object
Balls_Faced             object
Battling_Strike_Rate    object
100                     object
50                      object
0                       object
4s                      object
6s                      object
Country                 object
Player                  object
Rookie_Year             object
Final_Year              object
dtype: object

In [79]:
df.head()

,Players,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334.0,99.94,9800,58.60,29,13,7,626,6,1928,1948,"[DG, Bradman]",AUS
1,AC Voges (AUS),20,31,7,1485,269.0,61.87,2667,55.68,5,4,2,186,5,2015,2016,"[AC, Voges]",AUS
2,RG Pollock (SA),23,41,4,2256,274.0,60.97,1707,54.48,7,11,1,246,11,1963,1970,"[RG, Pollock]",SA
3,GA Headley (WI),22,40,4,2190,270.0,60.83,416,56.00,10,5,2,104,1,1930,1954,"[GA, Headley]",WI
4,H Sutcliffe (ENG),54,84,9,4555,194.0,60.73,6558,34.59,16,23,2,202,6,1924,1935,"[H, Sutcliffe]",ENG

In [36]:
import re

In [112]:
df['6s'] = df['6s'].str.replace(r'\+', "", regex=True)
print(f"Column has symbols: {has_symbols}")

Column has symbols: False

In [113]:
df['6s'] = df['6s'].replace('', np.nan)

In [82]:
df.head()

,Players,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334.0,99.94,9800,58.60,29,13,7,626,6,1928,1948,"[DG, Bradman]",AUS
1,AC Voges (AUS),20,31,7,1485,269.0,61.87,2667,55.68,5,4,2,186,5,2015,2016,"[AC, Voges]",AUS
2,RG Pollock (SA),23,41,4,2256,274.0,60.97,1707,54.48,7,11,1,246,11,1963,1970,"[RG, Pollock]",SA
3,GA Headley (WI),22,40,4,2190,270.0,60.83,416,56.00,10,5,2,104,1,1930,1954,"[GA, Headley]",WI
4,H Sutcliffe (ENG),54,84,9,4555,194.0,60.73,6558,34.59,16,23,2,202,6,1924,1935,"[H, Sutcliffe]",ENG

In [114]:
df= df.astype({
  "Rookie_Year":"int","Final_Year": "int", "Highest_Inns_Score": "float", "Ave": "float", "Runs":"int",  "Inns":"int", "100":"int","50":"int", "0":"int",
   "Not_Outs":"int", "Batting_Strike_Rate":"float", "Balls_Face":"float", "6s":"int", "4s": "int"})

In [115]:
df.dtypes

Players                 object
Matches                 object
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score     float64
Ave                    float64
Balls_Face             float64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Players                 object
Country                 object
dtype: object

In [128]:
df["Career_length"]= df["Final_Year"]-df["Rookie_Year"]

In [116]:
df

,Players,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Face,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Players,Country
0,DG Bradman (AUS),52,80,10,6996,334.0,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,"[DG, Bradman]",AUS
1,AC Voges (AUS),20,31,7,1485,269.0,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,"[AC, Voges]",AUS
2,RG Pollock (SA),23,41,4,2256,274.0,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,"[RG, Pollock]",SA
3,GA Headley (WI),22,40,4,2190,270.0,60.83,416.0,56.00,10,5,2,104,1,1930,1954,"[GA, Headley]",WI
4,H Sutcliffe (ENG),54,84,9,4555,194.0,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,"[H, Sutcliffe]",ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,KD Walters (AUS),74,125,14,5357,250.0,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,"[KD, Walters]",AUS
57,GC Smith (ICC/SA),117,205,13,9265,277.0,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,"[GC, Smith]",ICC/SA
58,WH Ponsford (AUS),29,48,4,2122,266.0,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,"[WH, Ponsford]",AUS
59,SJ McCabe (AUS),39,62,5,2748,232.0,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,"[SJ, McCabe]",AUS
60,DR Jardine (ENG),22,33,6,1296,127.0,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,"[DR, Jardine]",ENG

# Calculation with the dataframe

**Question 1: Cricketers in this DF what is the Average Career Length**

In [129]:
df["Career_length"].mean()

13.131147540983607

**Question 2:**


**Average batting_strikes_Rate for cricketers who played over 10 yearst**

In [133]:
df[df["Career_length"]>10]['Batting_Strike_Rate'].mean()

47.80232558139535

**Question 4: No of cricketers who played before 1960**

In [141]:
df[df["Rookie_Year"]<1960]["Players"].count()

Players    23
Players    23
dtype: int64

In [149]:
df.groupby("Country")["Highest_Inns_Score"].max()

Country
AUS        380.0
ENG        364.0
ICC/IND    319.0
ICC/PAK    329.0
ICC/SA     277.0
ICC/WI     400.0
IND        248.0
NZ         251.0
PAK        313.0
SA         278.0
SL         374.0
WI         365.0
ZIM        232.0
Name: Highest_Inns_Score, dtype: float64

**Question 5: Hundreds, Fifties, ducks (0) AVG by Country**

****

In [151]:
df.groupby("Country")[["100", "50", "0"]].mean()

               100         50          0
Country
AUS      21.466667  28.933333   8.933333
ENG      13.076923  21.384615   4.461538
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      23.250000  31.500000   8.000000
NZ       33.000000  37.000000  11.000000
PAK      17.800000  24.200000   8.000000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000