<a href="https://colab.research.google.com/github/Martinxmaina/Data-science/blob/main/data_input_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install sqlalchemy

In [ ]:
pip install html5lib

In [ ]:
pip install BeautifulSoup4

In [ ]:
pip install lxml

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df =pd.read_csv("CSV_Sample-221111-131803.csv")

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

In [ ]:
file_path = '/content/drive/My Drive/CSV_Sample-221111-131803.csv'  # Replace with the actual path

In [ ]:
df = pd.read_csv(file_path)

In [ ]:
df

In [ ]:
df["e"] = df["a"].apply(lambda elements: elements**2)

In [ ]:
df

In [ ]:
df.to_csv("output.csv", index=False)

In [ ]:
from google.colab import files

In [ ]:
files.download('output.csv')

In [ ]:
ls

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

In [ ]:
file_path = '/content/drive/My Drive/Excel_Sample.xlsx'

In [ ]:
df2 = pd.read_excel((file_path), sheet_name='Sheet1')

In [ ]:
df2

In [ ]:
df2.to_excel("output2.xlsx",sheet_name="output_sheet", index=False)

In [ ]:
files.download('output2.xlsx')

In [ ]:
df3 = pd.read_html('https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_finals#:~:text=With%20five%20titles%2C%20Brazil%20is,and%20Spain%20have%20one%20each.')

In [ ]:
df3[3]

In [ ]:
wrld_cup= df3[3]

In [ ]:
wrld_cup = wrld_cup.iloc[:21]

In [ ]:
wrld_cup.tail(3)

In [ ]:
wrld_cup.info

In [ ]:
wrld_cup['Year'] = pd.to_numeric(wrld_cup['Year'], errors='coerce').astype(int)

In [ ]:
wrld_cup[wrld_cup['Year'] >= int(1930)]

In [ ]:
wrld_cup["Score[2]"].apply(lambda score: "a.e.t" in score)

In [ ]:
wrld_cup

In [ ]:
wrld_cup.drop('scor2', axis=1 , inplace=True)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data', con=engine)

In [ ]:
sql_df