<a href="https://colab.research.google.com/github/Martinxmaina/Data-science/blob/main/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
d = {'A':[1,2,np.nan],
     'B': [5, np.nan, np.nan],
     'C': [1,2,4]}

In [ ]:
np.nan

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1, thresh=2)

In [ ]:
df.fillna(value='nganga')

In [ ]:
df.mean()

In [ ]:
df.fillna(value=df.mean())

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df= pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.groupby('Company')

In [ ]:
by_company= df.groupby('Company')

In [ ]:
by_company.describe()

In [ ]:
by_company.mean('Company').loc['FB']