<a href="https://colab.research.google.com/github/Martinxmaina/Data-science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
help(pd.Series)

In [ ]:
myindex=['USA','Canada','Mexico']

In [ ]:
mydata = [1776, 1867, 1821]

In [ ]:
myseries = pd.Series(data=mydata)

In [ ]:
myseries

In [ ]:
myseries = pd.Series(data=mydata, index=myindex)

In [ ]:
myseries

In [ ]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

In [ ]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
pd.Series(q1)

In [ ]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [ ]:
sales_q1["Japan"]

In [ ]:
sales_q1.keys()

In [ ]:
sales_q1 + sales_q2

In [ ]:
sales_q1.add(sales_q2, fill_value=0)

In [ ]:
#data frames

In [ ]:
np.random.seed(99)
mydata = np.random.randint(0,101,(4,3))

my_data

In [ ]:
my_index = ['CA', 'NY', 'AZ', 'TX']
my_columns = ['Jan', 'Feb', 'Mar']

In [ ]:
df = pd.DataFrame(data=my_data, index = my_index, columns=my_columns)

In [ ]:
df

In [ ]:
from google.colab import drive
drive.mount('/tips-221111-131706.csv')

In [ ]:
drive.mount('/content/drive')

In [ ]:
df = pd.read('/content/drive/MyDrive/tips-221111-131706.csv')

In [ ]:
import pandas as pd # import pandas and assign it to the alias 'pd'

In [ ]:
drive.mount('/content/drive') # Mount Google Drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tips-221111-131706.csv') # Use pd.read_csv to read a csv file

In [ ]:
df

In [ ]:
import numpy as np

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.head(2)

In [ ]:
df.info

In [ ]:
len(df)

In [ ]:
df.dribeesc

In [ ]:
df.describe().transpose()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
len(df)

In [ ]:
df.describe()

In [ ]:
df.describe().transpose()

In [ ]:
df.head()

In [ ]:
df['total_bill']

In [ ]:
type(df['total_bill'])

In [ ]:
mycols = ['total_bill', 'tip']

In [ ]:
df[mycols]

In [ ]:
df['total_bill'] + df['tip']

In [ ]:
df['tip'] / df['total_bill']

In [ ]:
df['tip_percentage'] = df['tip'] / df['total_bill']*100

In [ ]:
df.head()

In [ ]:
df['price_per_person'] = df['total_bill'] / df['size']

In [ ]:
df.head()

In [ ]:
df['price_per_person'] = np.round(df['total_bill'] / df['size'],2)

In [ ]:
df.head()

In [ ]:
df.drop('tip_percentage', axis=1)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df = df.drop('tip_percentage', axis=1)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df=df.set_index('Payment ID')

In [ ]:
df.head()

In [ ]:
df.reset_index()

In [ ]:
df.head()

In [ ]:
df.iloc[Sun2959]

In [ ]:
df.loc['Sun2959']

In [ ]:
df.iloc[0:4]

In [ ]:
df.loc[['Sun2959', 'Sun5260']]

In [ ]:
df.drop('Sun2959', axis=0)

In [ ]:
df.head()

In [ ]:
one_row = df.loc['Sun4608']

In [ ]:
one_row

In [ ]:
type(one_row)

In [ ]:
df.append(one_row).tail()